html, body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	height: 100%;
	color: #4b505a;
}

header {
	background-image: linear-gradient(-130deg, #0e1c3a 10%, #4a687b 35%, #8caba4 65%, #0e849c 90%);
	height: 100px;
}

	header nav {
		margin: 32px auto;
		width: 800px;
		display: flex;
	}

	header a {
		color: white;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		padding: 0 0 0 20px;
		font-family: "Karla", sans-serif;
		font-size: 0.75rem;
		font-weight: 700;
		align-self: center;
	}

		header a:hover {
			opacity: 0.65;
		}

		header a.title {
			font-size: 1.2rem;
			text-transform: none;
			padding: 0;
		}

		header a img {
			width: 32px;
			vertical-align: middle;
			padding-right: 10px;
			padding-bottom: 2px;
		}

/*.header-background-image {
    background-image: url(../assets/header.jpg);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    background-repeat: no-repeat;
    background-position: 50% 80%;
    background-size: cover;
}*/

footer {
	margin: 0 auto;
	height: 20px;
	flex-shrink: 0;
	font-size: 0.875rem;
}
main {
	flex: 1 0 auto;
}

app {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
}

@media only screen and (max-width: 800px) {
	header nav {
		width: auto;
		margin: 32px 16px;
	}
	header a.title {
		font-size: 1.0rem;
	}
}
