@page "/about"

<header>
	<HeaderIntro Entry="@AboutModel" />
</header>
<div class="content">
    <h2>Software Engineer</h2>
    <p>After studying computer science at <a href="https://ptl-wedel.de" target="_blank">PTL-Wedel</a> , I started working as a software developer. Every year I have dealt with new topics and technologies and learned a lot. Topics that are particularly appealing are software architecture and distributed applications. I am a big fan of whole <a href="https://dotnet.microsoft.com/" target="_blank">.NET</a> Universum and <a href="https://azure.microsoft.com/" target="_blank">Azure</a>.</p>
    <h2>Sports junky</h2>
    <p>In my free time I play football in a locale club, ride my <a href="https://www.canyon.com/de-de/road-bikes/race-bikes/ultimate/ultimate-cf-sl-disc-8.0-di2-aero/2410.html" target="_blank">racing bike</a> regularly and enjoy every form of exercise with or without a ball. As soon as the opportunity arises, I explore the oceans while diving or strap my snowboard under my feet.</p>
    <h2>Husband</h2>
    <p>Together since 2005, married to a wonderful, sophisticated and great woman since 2016 😘</p>
</div>
<footer />
