@page "/about"

<section>
	<article>
		<header>
			<HeaderIntro Entry="@AboutEntry"/>
		</header>
		<div class="content">@((MarkupString)AboutEntry?.Content)</div>
		<footer></footer>
	</article>
</section>