@page "/about"

<section>
	<article>
		<header>
			<HeaderIntro Entry="@AboutModel"/>
		</header>
		<div class="content">@((MarkupString)AboutModel?.Content)</div>
		<footer></footer>
	</article>
</section>