@page "/edit/{entryId:int}"

<header />
<div class="content">
    <AuthorizeView>
        <Authorized Context="Auth">
            @if (EntryModel != null)
            {
                <EditForm OnSubmit="@OnSaveAsync" Model="@EntryModel" class="form">
                    @if (Error != null)
                    {
                        <div class="error">@Error</div>
                    }
                    <fieldset>
                        <legend>@(this.EntryId > 0 ? "Edit" : "New") entry</legend>
                        <InputText @bind-Value="EntryModel.Header" placeholder="title" />
                        <InputTextArea @bind-Value="EntryModel.Intro" placeholder="short description" rows="5" />
                        <InputTextArea @bind-Value="EntryModel.Content" id="entryEditor" placeholder="content" />
                        <input type="submit" value="Save">
                        <InputCheckbox @bind-Value="EntryModel.IsPublished" /> Is published
                    </fieldset>
                </EditForm>
            }
        </Authorized>
        <NotAuthorized>
            Sry, not possible 4 u :/
        </NotAuthorized>
    </AuthorizeView>
</div>
<footer />