@page "/edit/{entryId:int}"


<header />
<div class="content">
    @if (EntryModel != null)
    {
        <EditForm OnSubmit="@OnSaveAsync" Model="@EntryModel">
            @if (Error != null)
            {
                <div class="error">@Error</div>
            }
            <fieldset>
                <InputText @bind-Value="EntryModel.Header" type="text" placholder="title" />
                <InputTextArea @bind-Value="EntryModel.Intro" placholder="short description" />
                <InputTextArea @bind-Value="EntryModel.Content" id="entryEditor" />
                <label>
                    <InputCheckbox @bind-Value="EntryModel.IsPublished" />
                    Is published:
                </label>

                <input type="submit" value="Save">
            </fieldset>
        </EditForm>
    }
</div>
<footer />