@page "/signin"

<header />
<div class="content">
	<EditForm OnSubmit="@Submit" Model="@Model" class="form signinform">
		@if (Model.Error != null)
		{
			<div class="error">@Model.Error</div>
		}
		<fieldset>
			<legend>Sign in</legend>
			<InputText @bind-Value="Model.Login" autofocus="true" required="true" type="text"/>
			<InputText @bind-Value="Model.Password" required="true" type="password"/>
			<input type="submit" value="Sign in">
		</fieldset>
	</EditForm>
</div>
<footer />