<div class="header-background-image"></div>
	<NavLink class="title" href="" Match="NavLinkMatch.All">
		<img src="assets/home-icon.png" />mMilks´s Blog
	</NavLink>
	<div style="flex:1" />
	<NavLink href="" Match="NavLinkMatch.All">
		Home
	</NavLink>
	<NavLink href="about">
		About
	</NavLink>
	<NavLink href="https://twitter.com/kl1mm">
		Twitter
	</NavLink>
