@inherits LayoutComponentBase
<header>
	<Navigation />
</header>
<main>
	<section>
		<article>
			@Body
		</article>
	</section>
</main>
<footer>
	<div class="copyright">
		<b>© by mMilk</b> | all rights reserved
	</div>
</footer>

