<div>
	<b>© by mMilk</b> | all rights reserved |
	<AuthorizeView>
		<Authorized>
			<a href="api/authentication/signout">@context.User.Identity.Name</a> |
			<a href="/edit/0">New post</a>
		</Authorized>
		<NotAuthorized>
			<a href="signin">Sign in</a>
		</NotAuthorized>
	</AuthorizeView>
</div>



